#root {
    padding: 0px;
    display: flex;
}

.navColumn {

}

.navOptionsContainer {
    display: flex;
    flex-direction: column;
}

.createOptionsContainer {
    display: flex;
    flex-direction: column;
}

.contentColumn {

}