:root {
    --top-padding: 25px;
}

#root {
    padding: 0px;
    display: flex;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    margin: 0px 40px;
}

#root {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

@media (min-width: 100px) {
    .contentColumn {
        max-width: 665px;
    }
}

.columnSection {
    background-color: rgb(255, 255, 255);
    margin: 30px 0px 50px 0px;
    border-radius: 25px;
    box-shadow: 0px 5px 5px rgb(184, 184, 184);
    padding: var(--top-padding) 30px;
}

.navColumn {
    min-width: 300px;
    margin-right: 20px;
    align-self: flex-start;
}

.navColumn a {
    font-size: 24px;
    text-decoration: none;
    color: black;
    position: relative;
}

.navColumn a::before {
    content: "";
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .1s ease-in-out;     
}

.navColumn a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navColumn a:visited {
    color: black;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

hr {
    margin: 30px 0px;
}

.contentColumn {
    flex: auto;
}

.contentColumn h1 {
    margin: 0px;
}

.contentList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Loading Wheel */
.loadingWheel {
    --size: 50px;
    --border: 5px;
    
    width: var(--size);
    height: var(--size);
    border: var(--border) solid rgba(0,0,0,0);
    border-top: var(--border) solid #3498db; /* Blue */
    border-radius: 50%;
    animation: 0.5s spinner infinite linear;  
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}

/* Book Instance Statuses */
.available {
    color: rgb(48, 183, 48);
}

.maintainence {
    color: rgb(255, 145, 0);
}

.loaned {
    color: rgb(255, 0, 0);
}

.reserved {
    color: rgb(0, 0, 0);
}

/* Delete Btn */
.deleteBtn {
    padding: 10px;
    background-color: rgb(217, 36, 36);
    border-radius: 15px;
    min-width: 100px;
    min-height: 50px;
    border: 0px;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgb(190, 190, 190);
    position: relative;
    color: white;
    cursor: pointer;
}

/* Modal */
dialog {
    border: 0px;
    background-color: rgba(0,0,0,0);
}

dialog div {
    border: 0px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 5px rgb(165, 165, 165);
    padding: 25px 50px;
    font-size: 24px;
}

dialog div button {
    color: white;
    background-color: #3498db;
    width: 100px;
    height: 50px;
    font-size: 24px;
    border: 0px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgb(217, 217, 217);
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputContainer {
    --size: 18px;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var(--size);

    label {
        font-weight: bold;
        font-size: 24px;
    }

    input, select, textarea {
        font-size: var(--size);
        border-radius: 10px;
        border: 0px;
        box-shadow: 0px 2px 2px rgb(160, 160, 160) inset;
        padding: 5px;
        background-color: rgb(232, 232, 232);
    }
}

.checkboxContainer {
    display: flex;
    gap: 10px;

    div {
        display: flex;
        gap: 5px;
        font-size: 18px;
    }
}

.submitBtn {
    background-color: #3498db;
    color: white;
    box-shadow: 0px 2px 2px rgb(223, 223, 223);
    border: 0px;
    font-size: 18px;
    padding: 10px 0px;
    border-radius: 15px;
}